In [3]:
Lista = []

In [4]:
type(Lista)

list

In [13]:
ListElem = [1, "udea", 3.5]

# Acceder a elemento de la lista

In [14]:
ListElem [2]

3.5

# AGREGAR A LA LISTA

In [15]:
ListElem.append("hola")

In [17]:
ListElem

[1, 'udea', 3.5, 'hola']

# Recorrer elemento de lista

In [18]:
for elemento in ListElem:
    print(elemento)

1
udea
3.5
hola

# Cambiar lista

In [35]:
listaBase = [1,2,3,4,5]

In [36]:
for Num in range(len(listaBase)):
    listaBase[Num] = listaBase[Num] ** 2

In [37]:
listaBase

[1, 4, 9, 16, 25]

# Agregar dinámicamente números

In [39]:
ListPar = []

In [40]:
for num in range(0, 100):
    ListPar.append(num)

In [41]:
ListPar

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

# Añadir dinamicamente a lista los divisores de 3

In [44]:
ListtPar = []
for num in range(0, 100):
    if num % 3 == 0:
        ListtPar.append(num)

In [45]:
ListtPar

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

# Eliminar elemento de lista

In [46]:
del listaBase[2]

In [47]:
listaBase

[1, 4, 16, 25]

# sacar una lista de otra

In [48]:
ListaCom = [1,2,3,4,5,6,7,8]
Sublist = ListaCom[2:5]

In [49]:
Sublist

[3, 4, 5]

# TUPLE (es con paréntesis) inmutable

In [51]:
mitupla = ()
mitupladeele = ("azul", "rojo", "verde")

In [52]:
"azul" in mitupladeele

True

# STR inmutable

In [53]:
variablestr = "hola como esta"
variablestr[4]

' '

# set es mutable, elementos únicos

# EjemploListas

In [8]:
lista = []
for x in range(1,101):
      lista.append(x)

In [9]:
lista

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [12]:
listaImpar = lista[0::2]

In [13]:
listaImpar

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]